
@import url("./fonts.css");
@import url("./fontello.css");

@import url("./normalize.css");
@import url("./reset.css");

@import url("./form.css");

*, *::before, *::after{
    box-sizing: border-box;
}

/* 숨김 컨텐츠 */
.sr-only, legend{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    /* clip-path: polygon(0 0,0 0,0 0); */
    clip-path: inset(50%);
}

/* 기뷴 스타일 */
html{
    font-size: 10px;
}
body{
    font-family: 
    Pretendard, -apple-system, 
    BlinkMacSystemFont, system-ui, 
    Roboto, "Helvetica Neue", "Segoe UI", 
    "Apple SD Gothic Neo", "Noto Sans KR", 
    "Malgun Gothic", "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol", 
    sans-serif;

    font-size: 1.4rem;

    /*     
    background-color: #ccc;
    background-image: 
        url("./images/bg_flower.png") no-repeat 50% 0, 
        linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
    background-repeat: no-repeat, repeat;
    background-position: 50% 0, 0 0;
     */

    background: 
        url("./images/bg_flower.png") no-repeat 50% 0, 
        linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%),
        #ccc
    ;

    /* 
    serif 날카로워
        sans-serif 둥그러ㄴ
    */
}
a{
    text-decoration: none;
    color:inherit;
}

/* Layout */

.header,.visual,.main,.slogan,.footer-inner{
    width: 940px;
    margin: 0 auto;
}

/* 헤더 */
.header{
    background: white;
    position: relative;

    padding: 0 30px;

    border-radius: 0 0 15px 15px;
}

    /* 로고 */
    .logo{
        position: absolute;
        top: 45px;
        left: 65px;
    }

    /* Member Links */
    .member{
        text-align: right;
        
        padding: 4px 0;
        transform: translateX(8px);
    }
    .member li, .member a{
        display: inline-block;
    }   
    .member a{
        padding: 6px 8px;        
        text-transform: uppercase;
        /* font-variant: small-caps; */
    }

    /* Main Menu */
    .navigation{
        /* 하위 메뉴를 배치할 공간 */
        padding-bottom: 40px;
    }
    .menu{
        /* background-color: orange; */
        background: 
                #FF870F
                linear-gradient(to bottom, #f7c231 0%,#ff870f 35%,#ff870f 35%,#ff870f 70%,#f7c231 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        border-top:2px solid currentColor;
        height: 47px;
        padding-left: 232px;

        border-radius: 0 0 5px 5px;
    }

        /* 메뉴 아이템 */
        .menu-item{
            float: left;
            position: relative;
            border-left: 2px solid #fff;
        }
        .menu-button{
            line-height: 45px;
            border: 0;
            background: transparent;
            padding:0 21px;
            font-size: 1.6rem;
            font-weight: 700;
            color: #fff;
            text-shadow: 1px 1px 0 #000, -1px 1px 0 #000;
        }
        .is-active .menu-button{
            color: #ff0;
            /* text-decoration: underline; */
            /* text-underline-offset: 1.6rem; */
            /* text-underline-offset: initial; */
        }
        .is-active .menu-button::after{
            content: "";
            background: #000;
            display: block;
            height: 2px;
        }

            /* sub-menu */
            .sub-menu{
                display: none;
                position: absolute;
                top: 47px;
                white-space: nowrap;
                padding: 4px 0;
            }
            .menu-html,menu-css,menu-standards{
                left: 0;
            }
            .menu-accessibility, .menu-qna, .menu-archive{
                right: 0;
            }
            .is-active .sub-menu{
                display: block;
            }
            .sub-menu li, .sub-menu a{
                display: inline-block;
                /* float: left; */
            }
            .sub-menu li{

                margin-left: .2em;

            }
            .sub-menu a{
                padding:6px 8px;
            }
            .sub-menu a::before{
                content: "\f192";
                font-family: 'fontello';
                display: inline-block;
                text-decoration: inherit;
                width: 1em;
                margin-right: .2em;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            .sub-menu a:hover::before,
            .sub-menu a:focus::before{
                content: "\e800";
            }

/* 비주얼 */
@keyframes moveEffect{
    0%{
        font-size: 12px;
        color: rgba(0,0,0,0);
        transform: translate(0,0);
    }
    100%{
        font-size: 24px;
        color: rgba(0,0,0,1);
        transform: translate(400px,75px);
    }
}
 @keyframes fadeEffect{
    0%{opacity:1;}
    100%{opacity:0;}
}
.visual{
    height: 120px;
    position: relative;
}
    .visual::before, .visual::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;

        /* animation-name: fadeEffect;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 2s; */
        animation: fadeEffect 2s infinite alternate;
    }
    .visual::before{
        /* background-color: pink; */
        background-image: url("./images/ani_flower_01.png"), url("./images/ani_flower_02.png");
        background-position: 0 -10px, 600px 0;
        /* animation-delay: 1s; */
    } 
    .visual::after{
        /* background-color: yellow; */
        background-image: url("./images/ani_flower_03.png"), url("./images/ani_flower_04.png");
        background-position: 300px 0, 800px 0;
        animation-delay: 1s;
    }
    .visual-text{
        font-family: Georgia, 'Times New Roman', Times, serif;
        animation-name: moveEffect;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        position: relative;
        z-index: 10;
        display: inline-block;
    }

/* 메인 */
.main{
    background: #fff;
    /* overflow: hidden; */
    min-height: 400px;
    padding: 15px;

    border-radius: 15px 15px 0 0;
    
    /*
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    //gap: 30px;
    
    padding: 30px;
    */
}

    /*.clearfix{ */
    .clearfix::after{
        content: "";
        clear:both;
        display: block;
    }
    
    .group{
        
        float: left;
        margin: 15px;
    }
    
    .group1{
        width: 250px;
    }
    

        .login{
            background: radial-gradient(circle at right top, #f7c231, #FF870F);
            border-radius: 5px;
            padding: 10px;

            /* box-shadow: 5px 5px 0 #ccc, 0px 0px 0 #ccc; */
            box-shadow: 5px 5px 0 0 #aaa;
        }
        .login-title{
            color: yellow;
            font-size: 1.5rem;

            font-weight: 700;
            text-indent: 1em;
        }
        .login-form, .sign{
            background-color: #fff;
        }
        .login-form{
            margin-top: 10px;
            border-radius: 5px 5px 0 0;
            padding: 10px 10px 0 10px;
        }
            .login-form > fieldset{
                border-bottom: 1px solid #aaa;
                position: relative;
                padding-bottom: 4px;
            }
                fieldset > div {
                    margin-bottom: 6px;
                }
            .user-email > label, .user-pw > label{
                display: inline-block;
                width: 4em;
            }
            #userPw, #userEmail{
                width: 90px;
                height: 22px;
                border: 1px solid #aaa;
                border-radius: 2px;
                padding: 2px 2px 2px 10px;
            }
            .login-button{
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 50px;
                padding: 0;
                font-size: 1.3rem;

                color: white;
                background-color: #FF870F;
                border: none;
                border-radius: 2px;
            }
        .sign{
            border-radius: 0 0 5px 5px;
            padding: 4px 10px;
            font-size: 1.2rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
            .sign a{
                padding: 5px 0;
            }
            .sign .icon-right-open{
                color: #FF870F;
            }

        
        .validation-links{
            margin-top:25px;
        }
            .validations a{
                display: inline-block;
                width: 100%;
                padding: 1rem;
                text-indent: 15%;
                border-radius: 24px;
                background: 
                url("./images/validation_icon.png") no-repeat 20px 50%,
                linear-gradient(to right, #ccc 0%, #eee 35%, #eee 70%, #ccc 100%)
                ,#ccc;
                margin-top: 10px;
                border: 1px solid #aaa;
            }
            .validations a:hover, .validations a:focus{
                color: red;
                
            }
        
        /* 웹 관련 용어 */
        .term{
            background: #ccc linear-gradient(to bottom, #ccc, #eee);
            margin-top: 20px;
            padding: 15px;
            border: 1px solid #aaa;
            border-radius: 5px;
        }
        .term-title{
            font-size: 1.5rem;
            font-weight: 700;
        }

        .term-list{
            margin-top: 15px;
        }
            .term-list div{
                margin-top: 10px;
                display: flow-root;
            }
            .term-list-subject, .term-list-brief{
                float: right;
                width: 145px;
            }
            .term-list-subject{
                color: #296897;
                font-weight: 500;
            }
            .term-list-thumbnail{
                float: left;
            }
            .term-list-thumbnail img{

                /* display: block; */
                /* vertical-align: top; */
                vertical-align: middle;
            }
            .term-list-brief{
                line-height: 1.5;
                margin-top: 5px;
            }
            .cross .term-list-subject, .cross .term-list-brief{
                float: left;
            }
            .cross .term-list-thumbnail{
                float: right;
            }


        .group2{
            width: 380px;
            /* order: 1; */
        }

            /* 검색 */
            /*
            .search-form{
                padding: 10px;
                background: linear-gradient(to bottom, #ccc, #eee);
                border:2px solid #ccc;
                border-bottom: none;
                border-radius: 10px 10px 0 0;
            }
            .search-form fieldset{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: blue;
            }
            .form-group{
                display: flex;
                gap: 10px;
                align-self: stretch;
                background-color: red;
            }
                .form-group label{
                    align-self: center;
                }
            .form-group-input{
                border-radius: 10px 10px 0 0;
                border: 2px solid #ccc;
                padding:5px;
            }
            .button-fill{
                color:white;
                background-color: #000;
            } .button{
                border-radius: 10px;
                padding: 5px 5px;
            }
            */
            .search-form-inner{
                background: #ccc linear-gradient(to bottom, #ccc, #eee);
                border: 1px solid #aaa;
                border-radius: 15px 15px 0 0;
                padding: 15px 25px 10px;

                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }
            .search-form-inner, .form-group{
                flex-grow: 1;
                margin-right: 12px;
            }
                
                .form-group-input{
                    margin-right: 10px;
                }
            
            
            /* 공지사항 및 자료실 */
            /*
            .board{
                background: yellow;
                margin-top: 20px;
                position: relative;
            }
            .board-section .board-tab{
                display: none;
            }
            .is-select{
                display: block;
            }
            .board-tab{
                position: absolute;
                z-index: 10;
                top: 0;
            }
                .archive-tab{
                    left: 64px;   
                }
                .board-more{
                    position: absolute;
                    top:0;
                    right:0;
                }
            .board-panel{
                background-color: red;
                padding-top: 24px;
            }
            

            .board-panel li{
                margin-top:10px;
                background-color: coral;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }   
            .board-panel li a{
                background-color: orange;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            */
            .board{
                margin-top: 20px;
                position: relative;
                min-height: 180px;
            }
            .board-panel,.board-more{
                display: none;    
            }
            .is-select .board-panel,.is-select .board-more{
                display: block;
            }

            .board-tab{
                /* float: left; */
                border: 1px solid #aaa;
                background-color: #ccc;
                border-radius: 4px 4px 0 0;
                padding: 6px 14px;
                color: #666;
                position: absolute;
                top:0;
            }
            .notice-tab{
                left:0;
            }
            .archive-tab{
                left:78px;
            }
            .is-select .board-tab{
                color: #FF870F;
                border-color: currentColor, currentColor, transparent, currentColor;
                background-color: #fff;
            }

            .board-panel{
                /* position: absolute; */
                /* background-color: skyblue; */
                
                padding-top: 40px;
                /* width: 100%;
                top:40px; */
            }
                .board-panel li{
                    /* background-color: orange; */
                    display: flex;
                    margin-top: 12px;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: space-between;
                }
                    .board-panel a{
                        /* background-color: khaki; */
                        /* flex-grow: 1; */
                        width: calc(100% - 6em);
                        margin-right: 8px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .board-panel time{
                        /* background-color: lime; */
                    }
            .board-more{
                position: absolute;
                top: -8px; right: -8px;
            }
            .more{
                padding: 8px;
            }
            .more::before{
                color: hsla(110, 50%, 30%, 1);
            }

        /* 새소식 */
        /*
        .news{
            margin-top: 20px;

            position: relative;
        }
        .news-title{
            color: orange;
            top:0;
            padding: 8px;
            width: 320px;
            border-image: linear-gradient(to right, #eee 0%, #fff 100%);
            border-bottom: 5px solid ;
        }
        .news-more{
            position: absolute;
            background-color: blue;
            top:0;
            right: 0;
        }
        .news-item{
            padding-top: 48px;
            position: relative;
            
        }
            .news-item-title, .news-item-brief, .news-item-date{
                background-color: pink;
                width: 250px;
                float: right;
            }
            .news-item-title{
            }
            .news-item-date{
                background-color: lime;
                padding-top: 8px;
            }
            .news-item-brief{
                margin-top: 10px;
                width: 250px;
            }
            .news-item-thumbnail {
                display: flex;
                background-color: aliceblue;
                flex-direction: column;
                align-items: center;
                gap:12px;
            }
            .news-item-thumbnail > img{
                box-shadow: 5px 5px 5px 5px gray;
            }
        */

        .news{
            margin-top: 20px;
            position: relative;
        }
        .news::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: #aaa linear-gradient(90deg, #aaa, #fff);
            top:35px;
        }
        .news-title{
            font-size: 1.5rem;
            font-weight: 700;
            color: #FF870F;
        }
        .news-more{
            position: absolute;
            top: -8px;
            right: -8px;
            padding: 8px;
        }
        
        
        .news-link{
            display: block;
        }
        .news-item{
            margin-top:35px;
            padding-left: 130px;
            position: relative;
        }
        .news-item-title{
            font-weight: 500;
            margin-bottom: 5px;
        }
            .news-item-thumbnail{
                position: absolute;
                top: 2PX;
                left: 0;
                text-align: center;
            
            }
            .news-item-thumbnail > img{
                box-shadow: 0 15px 10px 5px #eee;
            }
            .news-item-thumbnail figcaption{
                margin-top: 15px;
            }

            .news-item-brief{
                margin-top: 10px;
                line-height: 1.5;
            }



        .group3{
            width: 190px;
        }

        /* 신규이벤트 및 관련사이트 */
        .gradient-effect{
            border: 1px solid #aaa;
            border-radius: 5px;
            padding: 10px;
            background: #ccc linear-gradient(to bottom, #ccc, #eee);
        }
        .accent-color{
            color: #FF870F;
        }
        /* .event-title, .related-title{
            font-size: 1.5rem;
            font-weight: 700;
        }
        .event{            
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            border-bottom: 1px solid #aaa;
        }
        .event-title{
            flex-grow: 1;
        }
        
        .event-button-wrapper{

            display: flex;
            flex-flow: row nowrap;
            margin-left: auto;
            
        }
        .event-button-wrapper button{
            width: 19px;
            height: 18px;
            padding: 0;
            border: 0;
            
            background: transparent;
            background-image: url(./images/back_forward.png);
            background-repeat: no-repeat;

        }
        .event-button-wrapper .event-button-next{
            background-position: -36px 0;
        }
        
        .event div:last-child{
            background-color: red;
            width: 100%;
            margin-top: 10px;
        }
            .event-thumbnail img{
                border: 1px solid #ccc;
                box-shadow: 7px 7px 0 0 #aaa;
            }

        .event-brief{
            margin: 10px 0;
        } */
        /*
        
        .event-thumbnail{
            margin: 2px 0 10px;
        }
            .event-thumbnail img{
                border: 1px solid #ccc;
                box-shadow: 5px 5px 0 0 #ccc;
            }
        .event-brief{
            margin: 10px 0;
        } */
        
        
          .event-title, .related-title{
            font-size: 1.5rem;
            font-weight: 700;
          }
          
          .event{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            border-bottom: 1px solid #aaa;
            padding-bottom: 10px;
          }
          
          .event-button-wrapper{
            overflow: hidden;
            height: 22px;
            padding: 2px;
            margin-left: auto;
            transform: translate(2px, -2px);
          }
          
          .event-button-wrapper button{
            width: 19px;
            border: 0;
            height: 0 !important;
            background-image: url("./images/back_forward.png");
            background-repeat: no-repeat;
            padding: 18px 0 0 0;
          }
          
          .event-button-wrapper button:focus{
            /* outline-offset: -2px; */
          }
          
          
          .event-button-next{
            background-position: -36px 0;
          }
          
          .event div:last-child{
            width: 100%;
            margin-top: 10px;
          }
          
          .event-thumbnail img{
            box-shadow: 7px 7px 0 0 #aaa;
          }
          
          .event-brief{
            margin-top: 12px;
            line-height: 1.5;
          }
          
        
        .related{
            /* background-color: purple; */
            margin-top: 10px;
        }

        .related-list{
            margin-top: 10px;
            background: #fff;
            border: 1px solid #aaa;
            border-radius: 5px;
            height: 27px;
            overflow: hidden;
            transition: height 400ms, padding 400ms 400ms;
          }
          
          .related-list:hover, .related-list:focus{
            height: 147px;
            padding: 10px 0;
          }
          
          .related-list a{
            display: block;
            line-height: 25px;
            text-indent: 25px;
          }
          
          .related-list a:focus{
            outline-offset: -2px;
          }


          .favorite{
            position: relative;
          }
          
          .favorite-list{
            list-style: none;
            margin-top: 10px;
            counter-reset: number;
          }
          
          .favorite-list li{
            counter-increment: number;
            margin-top: 8px;
            /* font-size: 18px; */
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            /* justify-content: space-between; */
            align-items: center;
          }
          
          .favorite-list li::before{
            content: counter(number);
            color: #fff;
            background-color: #aaa;
            border-radius: 2px;
            display: inline-block;
            width: 1.2em;
            font-size: 1.2rem;
            text-align: center;
            margin-right: 0.5em;
          }
          
          .favorite-list em{
            display: inline-block;
            background-image: url("./images/rank.png");
            background-repeat: no-repeat;
            width: 9px;
            height: 11px;
            margin-left: auto;
            /* position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%); */
            /* margin-top: -5px; */
            /* float: right; */
            /* margin-top: 5px; */
          }
          
          .favorite-list .stop{
            background-position: 0 50%;
          }
          
          .favorite-list .down{
            background-position: 0 100%;
          }
          
          
          .favorite-more{
            position: absolute;
            top: -8px;
            right: -8px;
          }
        /* .favorite{
            position: relative;
            margin-top: 20px;
        }
        .favorite-list li::before{
            content: "1";
            position: absolute;
            left: 0;
            background-color: red;
            width: 10px;
            height: 10px;
        }
        .favorite-list{
            margin-top: 10px;
            list-style-type: none;
        }
        .favorite-list em{
            background-color: yellow;
            position: absolute;
            width: 10px;
            height: 10px;
            right: 0;
            background-image: url(./images/rank.png);
            background-repeat: no-repeat;
        }
        .favorite-more{
            background-color: pink;
            position: absolute;
            top: 0%;
            right: 0%;
        } */

        /* 
        .related-list li > a{
            display: inline-block;
            background-color: red;
            width: 100%;
            margin-top: 4px;
        }
        .related-list:hover{
            height: 147px;
            padding: 10px 0;
        } */

        /* @keyframes related-list{
            0%{transition: 0ms;}
            100%{transition: 400ms;}
        } */


    
    /* 슬로건 */
.slogan{
    position: relative;
    padding: 15px 80px 15px 180px;
    /* clear: both; */
}
.slogan-title{
    width: 110px;
    height: 83px;
    position: absolute;
    bottom: -25px;
    left:35px;
    text-align: center;
    line-height: 38px;
}
.slogan-title::after{   
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: url("./images/coffee.png") no-repeat;
}

.slogan-content{
    color: brown;
}
.slogan-content q::after{
    content: "";
}

/* 푸터 */
.footer{
    background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
    position: relative;
    
}
.footer-inner{  
    height: 15px 80px 15px 180px;
    position: relative;
}
.footer-logo{
    position: absolute;
    left:35px;
    top:45px;
}
.guide-list{
    background-color: gray;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
}
.guide-list a{
    text-transform: uppercase;
    display: block;
    padding: 6px 12px;
}
.address{
    margin-top: 15px;
}
.copyright{
    display: block;
    margin-top: 5px;
}
.footer-badge-container{
    position: absolute;
    right: 0;
    top: 15px;
}