@import url("./normalize.css");

*, *::before, *::after{
    box-sizing: border-box;
}

/* Layout */

.header,.visual,.main,.slogan,.footer-inner{
    width: 940px;
    margin: 0 auto;
}

/* 헤더 */
.header{
    background: yellow;
}

/* 비주얼 */
.visual{
    background: pink;
    height: 120px;
}

/* 메인 */
.main{
    background: blue;
    /* overflow: hidden; */
    min-height: 400px;
    padding: 15px;

    /*
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    //gap: 30px;
    
    padding: 30px;
    */
}

    /* .clearfix{ */
    .clearfix::after{
        content: "";
        clear:both;
        display: block;
    }

    .group{
        background: silver;

        float: left;
        margin: 15px;
    }

        .group1{
            width: 250px;
        }
        .group2{
            width: 380px;
            /* order: 1; */
        }
        .group3{
            width: 190px;
        }

/* 슬로건 */
.slogan{
    background: lime;

    /* clear: both; */
}

/* 푸터 */
.footer{
    background: purple;
}
.footer-inner{
    background: orange;
}
