
@import url("./normalize.css");
@import url("./reset.css");


*, *::before, *::after{
    box-sizing: border-box;
}

/* 숨김 컨텐츠 */
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    /* clip-path: polygon(0 0,0 0,0 0); */
    clip-path: inset(50%);
}

/* 기뷴 스타일 */
html{
    font-size: 10px;
}
body{
    font-family: 
    Pretendard, -apple-system, 
    BlinkMacSystemFont, system-ui, 
    Roboto, "Helvetica Neue", "Segoe UI", 
    "Apple SD Gothic Neo", "Noto Sans KR", 
    "Malgun Gothic", "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol", 
    sans-serif;

    font-size: 1.4rem;

    background-color: #ccc;
    background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
    /* 
    serif 날카로워
        sans-serif 둥그러ㄴ
    */
}
a{
    text-decoration: none;
    color:inherit;
}

/* Layout */

.header,.visual,.main,.slogan,.footer-inner{
    width: 940px;
    margin: 0 auto;
}

/* 헤더 */
.header{
    background: white;
    position: relative;

    padding: 0 30px;
}

    /* 로고 */
    .logo{
        position: absolute;
        top: 45px;
        left: 65px;
        
        /* background: blue; */
    }

    /* Member Links */
    .member{
        text-align: right;
        
        padding: 4px 0;
        transform: translateX(8px);
    }
    .member li, .member a{
        display: inline-block;
    }   
    .member a{
        padding: 6px 8px;        
        text-transform: uppercase;
        /* font-variant: small-caps; */
    }

    /* Main Menu */
    .navigation{
        /* 하위 메뉴를 배치할 공간 */
        padding-bottom: 40px;
    }
    .menu{
        background-color: orange;
    }

/* 비주얼 */
.visual{
    background: pink;
    height: 120px;
}

/* 메인 */
.main{
    background: blue;
    /* overflow: hidden; */
    min-height: 400px;
    padding: 15px;
    
    /*
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    //gap: 30px;
    
    padding: 30px;
    */
}

/* .clearfix{ */
    .clearfix::after{
        content: "";
        clear:both;
        display: block;
    }
    
    .group{
        background: silver;
        
        float: left;
        margin: 15px;
    }
    
    .group1{
        width: 250px;
    }
    .group2{
        width: 380px;
        /* order: 1; */
    }
    .group3{
        width: 190px;
    }
    
    /* 슬로건 */
.slogan{
    background: lime;
    
    /* clear: both; */
}

/* 푸터 */
.footer{
    background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}
.footer-inner{
    background: orange;
    height: 15vh;
}
