@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

/* 공통부분 */
.button{
    cursor: pointer;
    height: 2rem;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.125rem 0.75rem;
    white-space: nowrap;
}
.button--none{
    border: 0;
    padding: 0;
    background: transparent;
  }
.button--fill{
    background: var(--secondary-color);
    color: var(--white);
}
.button--outline{
    background: transparent;
    color: var(--secondary-color);
    border: 1px solid currentColor;
}

/* 헤더 */
.appHeader{
    padding: var(--spacing-base) var(--spacing-lg);
}
    /* 공통 로고 */
    .logo{
        width: 12.75rem;
        height: 3.6875rem;
    }
        .logo__link{
            display: block;
            width: 100%; 
            height: 100%;
            background: url(../images/webcafe-logo.png) no-repeat top/cover;
            /* background-size: cover; */
        }
        /* 공통 멤버 서비스 */
        .memberOnly{
            display: flex;
            flex-flow:row nowrap;
            justify-content: flex-end;
            align-items: center;
        }
        /* 공통 검색 폼 */
        .searchForm__group{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: var(--spacing-xs);
            margin-top: var(--spacing-base);
        }
            .searchForm__group .formInput__input{
                appearance: none;
                width: 100%;
                min-width: 0;
                height: 2rem;
                padding: 0.125rem 0.75rem;
                border: 1px solid var(--silver);
                border-radius: 0.25rem;
            }
/* 내비게이션 */
.appNavigation{
    background-color: pink;
    padding: var(--spacing-base) var(--spacing-lg);
}
/* 메인 */
.appMain{
    background-color: blue;
    padding: var(--spacing-base) var(--spacing-lg);
}


    /* 추천 서적 */
    .book{
        background-color: yellowgreen;
    }

    /* 새소식 */
    .news{
        background-color: orange;
    }

    /* 게시판 */
    .board{
        background-color: aquamarine;
    }

    /* 인기 사이트 */
    .favorite{
        background-color: violet;
    }

    /* 트위터 */
    .twitter{
        background-color: lightgreen;
    }


/* 푸터 */
.appFooter{
    background-color: lime;
    padding: var(--spacing-xl) var(--spacing-lg);
}

/* 모바일 스타일 */
@media (max-width: 767px){
    /* 모바일 헤더 */
    .appHeader{
        display: flex;
        flex-flow: column nowrap;
        background-color: var(--primary-color);
    }
        /* 모바일 멤버 서비스 */
        .memberOnly{
            order: -1;
            color: var(--white);
            font-size: var(--text-sm);
        }
        /* 모바일 검색 폼 */
        
        .searchForm__group .formInput{
            flex-grow: 1;
        }
   
    

    /* 모바일 메인메뉴 제어버튼 */
  .buttonWrapper{
    overflow: hidden;
    position: absolute;
    top: 3.75rem; 
    right: var(--spacing-lg);
    padding: 0.25rem;
  }
  .button--burger{
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .button--burger:focus{
    outline-offset: 2px;
  }

  .button--burgerBarTop,
  .button--burgerBarMiddle,
  .button--burgerBarBottom{
    width: 100%;
    height: 20%;
    background: var(--white);
    border-radius: 20px;
    transition: all 350ms;
  }

  .is--active .button--burgerBarTop{
    position: relative;
    top: 50%;
    /* 이동부터 해서 */
    transform: translateY(-50%) rotate(45deg);
  }

  .is--active .button--burgerBarMiddle{
    transform: translateX(-150%);
  }

  .is--active .button--burgerBarBottom{
    position: relative;
    top: -50%;
    transform: translateY(50%) rotate(-45deg);
  }

  /* 모바일 메인 메뉴 */
  .menu{
    background: var(--accent-opacity-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    /* 사진의 흐름을 같이 가고 고객은 강요하면 안따라와 베리에이션을 줘야되 */
    backdrop-filter: blur(4px);
    padding: var(--spacing-lg);
    transform: translateX(-150%);
    /* 전위 효과 */
    transition: all 300ms;
  }

  .menu__item{
    border-bottom: 1px solid var(--silver);
  }

  .menu.is--active{
    transform: none;
  }

    /* 모바일 메인 */
    .appMain{
        display: flex;
        flex-flow: row wrap;
        gap: var(--spacing-base);
    }
    /* 모바일 메인 세션 영역 */
    .appMain section, .twitter{
        width: 100%;
    }
        

    /* 모바일 */
    /* 모바일 */
}

/* 데스크톱 스타일 */
    /* 
        이렇게 꼭 안해도 됨 ㅇ
        @media (min-width: 768px) and (max-width: 1024px){ 
            */
@media (min-width: 768px){ 
    /* 데스크톱 헤더 */
    .appHeader{
        max-width: var(--container-width);
        margin-left:auto;
        margin-right:auto;
        position: relative;
    }
        /* 데스크돕 로고 */
        .logo{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }   
        /* 데스크톱 검색 폼 */
        .searchForm__group{
            justify-content: flex-end;
        }
        .searchForm__group .formInput{
            width: 25rem;
        }
    
        

        /* 데스크탑 메인메뉴 제어버튼 */
  .button--burger{
    display: none;
  }

  /* 데스크탑 메인 메뉴 */
  .menu{
    background: var(--secondary-color);
    padding: var(--spacing-base) var(--spacing-lg);
  }

  .menu__list{
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
  }

  .menu__link{
    color: var(--white);
    text-shadow: 1px 1px 0 var(--black), -1px -1px 0 var(--black);
  }

    /* 데스크톱 메인 */
    .appMain{
        max-width: var(--container-width);
        margin-left: auto;
        margin-right: auto;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "news news news news news news news news news news news news"
            "book book book book twitter twitter twitter twitter twitter favorite favorite favorite"
            "book book book book . board board board board board board board"
        ;
        gap: var(--spacing-base);
    }
        /* 데스크톱 추천 서적 */
        .book{
            /* grid-row-start: 2;
            grid-row-end: 4;
            
            grid-column-start: 1;
            grid-column-end: 5; */
            /* grid-row: 2/4;
            grid-column: 1/5; */
            /* grid-area: 2/1/4/5; */
            grid-area: book;
        }
        /* 데스크톱 새소식 */
        .news{
            grid-area:news;
        }
        /* 데스크톱 게시판 */
        .board{
            grid-area:board;
        }
        /* 데스크톱 인기 사이트 */
        .favorite{
            grid-area:favorite;
        }
        /* 데스크톱 트위터 */
        .twitter{
            grid-area:twitter;
        }
}

/* 고해상도 배경이미지 미디어쿼리 */
@media (-webkit-min-device-pixel-ratio: 2),
       (min--moz-device-pixel-ratio: 2),
       (-o-min-device-pixel-ratio: 2/1),
       (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx){
  .logo__link{
    background-image: url(./../images/webcafe-logo@2x.png);
  }
}
